{% extends 'bookshelf/base.html' %}

{% block title %}Iniciar sesión{% endblock %}

{% block content %}
<main>
    <h1>Iniciar sesión</h1>
    <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Iniciar sesión</button>

    {% if form.errors %}
        <ul>
        {% for field in form %}
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        </ul>
    {% endif %}
    </form>
</main>
{% endblock %}