{% extends 'bookshelf/base.html' %}

{% block title %}Libros{% endblock %}

{% block content %}
<main class="container-fluid">
    <h1>Libros</h1>
    
    <form action="{% url 'libro_list' %}" class="form" method="get">
        {{ form }}
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>

    {% for libro in object_list %}
        <article>
        <h2>{{ libro.titulo }}</h2>
        <p>
        {% for autor in libro.autores.all %}
            <span>{{ autor.nombre }} {{ autor.apellidos }}</span>
        {% endfor %}
        </p>
        <p>{{ libro.genero }}</p>
        <p>{{ libro.bibliotecario }}</p>
        <a class="btn btn-primary" href="{% url 'libro_detail' libro.id %}">Ver detalles</a>
        </article>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primeros</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anteriores</a>
            {% endif %}
    
            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Siguientes</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Últimos &raquo;</a>
            {% endif %}
        </span>
    </div>
</main>



{% endblock %}